<div class="main scrollable">
<div class="card">
  <!--<button (click)="funct()">j</button>-->
  <div class="card-content" >

    <!--<app-chat-receive></app-chat-receive>-->
    <!--<app-chat-send></app-chat-send>-->
    <!--<app-chat-receive></app-chat-receive>-->
    <!--<app-chat-receive></app-chat-receive>-->
    <!--<app-chat-receive></app-chat-receive>-->
    <!--<app-chat-send></app-chat-send>-->
    <!--<app-chat-send></app-chat-send>-->
    <!--<app-chat-receive></app-chat-receive>-->

    <app-chats *ngFor="let i of messages" [messages]="i">

    </app-chats>
  </div>
</div>
</div>
